    <div class="card">
      <!--sign  up header-->
      <h3 class="card-header">Sign Up</h3>
      <form id="signup-form" class="card-body">
        <!--username-->
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />

        <!--password-->
        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />
        <!--sign  up btn-->
        <button type="submit" class="btn">Sign Me Up!</button>
        <!--log in instead-->
        <a class="login-link" href="/login">Have an account? Log in instead!</a>
      </form>
    </div>

<script src="/javascript/signup.js"></script>